<div class="container">
    <div class="col-md-12">
        <find></find>
    </div>

    <div id="container" class="col-md-12 row">
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
        <card-movie></card-movie>
    </div>
</div>